<section class="ftco-section contact-section bg-light">
    <div class="container" style="text-align: center;">
      <div class="row d-flex mb-5 ">
        <div class="col-md-12 mb-4" style="height:max-content">
          <h2 class="h3" style="text-align: center; color:#333333;">log in to your Account</h2>
          <div class="row block-9" style="width: 50% ; margin-left:auto; margin-right: auto; margin-top: 3rem; ">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <button class="btn py-2 px-3" style="border:2px solid #c4c4c4; color:#333333;">Log in with <img src="" alt="G"></button>
                  </div>
                  <div class="form-group col-md-6">
                    <button class="btn py-2 px-3" style="border:2px solid #c4c4c4; color:#333333;">Log in with <img src="" alt="in"></button>
                  </div>
                </div>
                <div class="form-group">
                  <h5>or</h5>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" style="border:2px solid #c4c4c4;">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password"  style="border:2px solid #c4c4c4;">
                </div>
                <p><a routerLink="./forgotpassword" style="color:#2f80ed; float:right;">Forgot Password?</a></p><br/>
                <div class="form-group">
                <button type="submit" class="btn btn-primary" style="margin:1rem py-3 px-2">Log in</button>
                </div>
                <p>No Account? <a routerLink="./signup" style="color:#2f80ed;">Create one</a></p>
              </form>
          </div>
        </div>
      </div>
    </div>
</section>

  
  <!--Footer
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="logo"><a routerLink="/home">i C M S <span>A Smart Contact Manager</span></a></h2>
          <p>iCMS is a smart solution to keep all of your contacts from personal to organizational at one place.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;
          2020 All rights reserved to _________</p>
      </div>
    </div>
  </div>
</footer>
-->