<div class="container-main">
  <div class="fix-container">
    <div class="heading">AddressBook</div>
    <div class="line"></div>
    <div class="container-contact">
      <div class="list-items">
      <!--Sort By-->
        <div class="list-item dropdown"  style="color:#333;">
          <button style="padding-top: 0;" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort By
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Name</a>
            <a class="dropdown-item" href="#">Date Modified</a>
            <a class="dropdown-item" href="#">Contacted Recently</a>
          </div>
        </div>
      <!--View-->
        <div>
          <a  class="list-item" style="color:#333"><span class="material-icons">reorder</span>View</a>
        </div>
        <div>
          <a  class="list-item" style="color:#Eb5757"><span class="material-icons">delete</span>Delete</a>
        </div>
        <div>
          <a class="list-item export-btn" style="color:#333;"><span class="material-icons">save_alt</span>Export</a>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-area">
    <div class="row">
      <div class="col-sm-4 contact-data" data-toggle="modal" data-target="#contact1">
        <div><img src="../../../../assets/images/profile.png" class="profile-image"></div>
        <h4 class="contact-name">Contact 1 Name</h4>
        <div class="contact-designation">Designation of the contact</div>
        <div class="contact-info"><span class="material-icons">local_phone</span> +91-XXXXXXXXXX</div>
        <div class="contact-info"><span class="material-icons">mail</span> abc@xyz.com</div>
        <div class="contact-progress-bar"><div class="contact-progress-low"></div></div>
      </div>
      <div class="col-sm-4 contact-data" data-toggle="modal" data-target="#contact2">
        <div><img src="../../../../assets/images/dummy_5.png" class="profile-image"></div>
        <div class="contact-name">Contact 2 Name</div>
        <div class="contact-designation">Designation of the contact</div>
        <div class="contact-info"><span class="material-icons">local_phone</span> +91-XXXXXXXXXX</div>
        <div class="contact-info"><span class="material-icons">mail</span> abc@xyz.com</div>
        <div class="contact-progress-bar"><div class="contact-progress-high"></div></div>
      </div>
      <div class="col-sm-4 contact-data" data-toggle="modal" data-target="#contact3">
        <div><img src="../../../../assets/images/dummy_5.png" class="profile-image"></div>
        <div class="contact-name">Contact 3 Name</div>
        <div class="contact-designation">Designation of the contact</div>
        <div class="contact-info"><span class="material-icons">local_phone</span> +91-XXXXXXXXXX</div>
        <div class="contact-info"><span class="material-icons">mail</span> abc@xyz.com</div>
        <div class="contact-progress-bar"><div class="contact-progress-mid"></div></div>
      </div>
    </div>  
<!-- Modal -->
    <div class="modal fade" id="contact1" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contact1Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contact1Label">Contact 1 Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>Contact Name</td>
                </tr>
                <tr>
                  <th scope="row">Title</th>
                  <td>Dr./ Prof. .....</td>
                </tr>
                <tr>
                  <th scope="row">Contact No.</th>
                  <td>+91-XXXXXXXXXX</td>
                </tr>
                <tr>
                  <th scope="row">Designation</th>
                  <td>Head ABC</td>
                </tr>
                <tr>
                  <th scope="row">Organisation</th>
                  <td>Company ABC</td>
                </tr>
                <tr>
                  <th scope="row">e-mail address</th>
                  <td>xyz@abc.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="contact2" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contact2Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contact2Label">Contact 2 Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>Contact Name</td>
                </tr>
                <tr>
                  <th scope="row">Title</th>
                  <td>Dr./ Prof. .....</td>
                </tr>
                <tr>
                  <th scope="row">Contact No.</th>
                  <td>+91-XXXXXXXXXX</td>
                </tr>
                <tr>
                  <th scope="row">Designation</th>
                  <td>Head ABC</td>
                </tr>
                <tr>
                  <th scope="row">Organisation</th>
                  <td>Company ABC</td>
                </tr>
                <tr>
                  <th scope="row">e-mail address</th>
                  <td>xyz@abc.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="contact3" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contact3Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contact3Label">Contact 3 Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>Contact Name</td>
                </tr>
                <tr>
                  <th scope="row">Title</th>
                  <td>Dr./ Prof. .....</td>
                </tr>
                <tr>
                  <th scope="row">Contact No.</th>
                  <td>+91-XXXXXXXXXX</td>
                </tr>
                <tr>
                  <th scope="row">Designation</th>
                  <td>Head ABC</td>
                </tr>
                <tr>
                  <th scope="row">Organisation</th>
                  <td>Company ABC</td>
                </tr>
                <tr>
                  <th scope="row">e-mail address</th>
                  <td>xyz@abc.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>