nav{
    background: #f6f7fc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 11%;
    width: 100%;
    padding: 0 70px;
    position: fixed;
    z-index:1;
}

nav .logo{
    color: #2f80ed;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: flex-end;    
}

nav .nav-items li {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 20px;
}

nav .nav-items li a {
    color: #333333;
}

nav .nav-items li a:hover {
    color: #2f80ed;
}

nav form {
    display: flex;
    height: 40px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5vw;
    margin-left: 100px;
    background: #fff;
    min-width: 18% !important;
    margin-left: 20vw;

}

nav form .search-data{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #333;
    font-weight: 500;
    background: none;
    border: none;

}

nav form button {
    padding: 0 15px;
    background: #2f80ed;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}

.page-container{
    display: flex;
    height: 89%;
}

.page-content-container{
    padding-left:5rem;
    padding-top:4.5rem;
    margin-left: 230px;
}
.sidebar{
    height: 100%;
    padding-top: 3%;
    width: 230px;
    background : #f6f7fc;
    position: fixed;
}
.sidebar a .profile-image{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #333333;
}
.list-items{
    padding-top:50px;
}

.list-item {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #333333;
    padding: 1rem;
    font-family: roboto;
    cursor: pointer;
}

.list-item.selected {
    color:#2f80ed;
}

.list-item:hover{
    color:#2f80ed;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color:#2f80ed;
    opacity: 0;
    transform: scaleY(0);
    transition: transform 0.2s, opacity 0.2s;
}

.list-item:hover::before {
    opacity: 0.5;
    transform: scaleY(0.5);
}


.list-item.selected::before {
    opacity: 1;
    transform: scaleY(0.9);
}
.list-item span.material-icons{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 20px;
}

.list-item img.profile-image {
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 20px;
}

