<nav>
  <div class="logo">iCMS</div>

  <form action="" class="mr-auto">
    <input type="search" class="search-data" placeholder="Search Contacts" required >
    <button type="submit" class="material-icons">search</button>
  </form>
  
  <div class="nav-items">
    <li class="nav-item"><a href=""><span class="material-icons">notifications</span></a></li>
    <li><a class="nav-item" href=""><span class="material-icons">settings</span></a></li>
  </div>

</nav>





      
<div class="page-container">    
        <div class="sidebar">
            <div class="list-items">
              <div>
                <a  class="list-item" routerLink="./addcontact"><span class="material-icons">backup</span>
                Add Contacts</a>
              </div>
              <div>
                <a  class="list-item" routerLink="./contacts" routerLinkActive="selected"><span class="material-icons">person</span>
                My Contacts</a>
              </div>
                <div>
                <a  class="list-item" routerLink="./starred"routerLinkActive="selected"><span class="material-icons">star</span>
                Starred</a>
                </div>
                <div>
                <a  class="list-item" routerLink="./meetings"routerLinkActive="selected"><span class="material-icons">next_week</span>
                Meetings</a>
                </div>
                <div>
                <a  class="list-item" routerLink="./forms"routerLinkActive="selected"><span class="material-icons">list_alt</span>
                Contact forms</a>
                </div>
                <div>
                  <a  class="list-item" routerLink="./account" routerLinkActive="selected"><img src="../../../assets/images/profile.png" alt="" class="profile-image">
                  My Account</a>
              </div>
            </div>
        </div>
        <div class="page-content-container">
            <router-outlet></router-outlet>
        </div>
</div>