

<!--Nav Bar-->
<nav class="navbar px-md-0 navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" style="color: #2f80ed;">i  C  M  S <span>A Smart Contact Manager</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" style="color:#333333;" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">About us</a></li>
        <li class="nav-item"><a  routerLink="/signin" class="nav-link">Sign in</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->



<div class="hero-wrap js-fullheight homebg overlay" data-stellar-background-ratio="0.5">

<div style="background-color: rgba(47, 128, 237, 0.1);">
  <div class="container">
    <div id ="content" class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" style="height: 100vh;">
      <br/><br/><br>
      <div class="col-md-6">
        <h2 class="subheading" style="color:#FFFFFF">Welcome To iCMS</h2>
        <h1>One Place for all <br/> your
          <span>Contacts</span></h1><br/>
        <p><a routerLink="/signin" class="btn btn-primary mr-md-4 py-2 px-4">Get Started</a></p>
      </div>
    </div>
  </div>
</div>
<!--Footer-->
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;
          2020 All rights reserved to Tink Tank dbc</p>
      </div>
    </div>
  </div>
</footer>
</div>